@keyframes pulse {
    0% {
        transform: translateY(-60px) scale(1);
    }
    50% {
        transform: translateY(-60px) scale(1.1);
    }
    100% {
        transform: translateY(-60px) scale(1);
    }
}

.freespinsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1;
    font-family: 'MTS Sans';

    &__bg {
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        width: 124%;
    }

    &__spinsCount {
        font-size: 274px;
        font-weight: 900;
        line-height: 198px;
        letter-spacing: 0%;
        text-shadow: 0 25px 1px #000;
        transform: translateY(-40px);
        animation: pulse 1.2s ease-in-out infinite;
        -webkit-text-stroke: 7px #000;
    }

    &__spinsText {
        color: #00BDFD;
        font-size: 77.49px;
        font-weight: 900;
        line-height: 55.97px;
        margin-top: 15px;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    &__spinsForRegistr {
        font-size: 48.19px;
        font-weight: 800;
        letter-spacing: 0%;
        line-height: 34.8px;
        text-shadow: 0 7px 1px #000;
        position: relative;
        z-index: 1;
        margin-top: 20px;
        -webkit-text-stroke: 1.5px #000;
    }

    &__fireLeft, &__fireRight {
        position: absolute;
        top: -80px;
        left: -139px;
        width: 810px;
        height: 450px;
    }

    &__fireRight {
        transform:  scaleX(-1);
    }
}

@media (max-width: 1125px) {
    .freespinsBlock {

        &__bg {
            width: 400px;
        }

        &__spinsCount {
            font-size: 140px;
            line-height: 101px;
            text-shadow: 0 13px 1px #000;
        }

        &__spinsText {
            font-size: 39px;
            line-height: 28.6px;
            margin-top: 25px;
        }

        &__spinsForRegistr {
            font-size: 25px;
            line-height: 18px;
            margin-top: 10px;
            text-shadow: 0 4px 1px #000;
        }

        &__fireLeft, &__fireRight {
            width: 500px;
            height: 270px;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @keyframes pulse {
        0% {
            transform: translateY(-15px) scale(1);
        }
        50% {
            transform: translateY(-15px) scale(1.1);
        }
        100% {
            transform: translateY(-15px) scale(1);
        }
    }
}

@media (max-width: 410px) {
    .freespinsBlock {
        &__bg {
            width: 350px;
        }

        &__fireLeft, &__fireRight {
            width: 430px;
            height: 240px;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
        }

        &__spinsText {
            line-height: 15.6px;
            margin-top: 15px;
        }
    }
}